<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353162856816-u4fj0itu24mac3031g3r2s9njhi4oa2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353162856816-u4fj0itu24mac3031g3r2s9njhi4oa2e</string>
	<key>API_KEY</key>
	<string>AIzaSyD5PBYVvdwuKeuHz_tiiCwjPwYYpuzRF5c</string>
	<key>GCM_SENDER_ID</key>
	<string>353162856816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.avantswiftPortfolio.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>avantswiftsolutions</string>
	<key>STORAGE_BUCKET</key>
	<string>avantswiftsolutions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353162856816:ios:b09db27f849cd23380e7b5</string>
</dict>
</plist>